<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383978686851-kpse6jjjnsvj6j2hlkvm20d5es8blkqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383978686851-kpse6jjjnsvj6j2hlkvm20d5es8blkqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCugB8dQKk46I9TbuV6aMKjRUD2tvzQ3X0</string>
	<key>GCM_SENDER_ID</key>
	<string>383978686851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.PhoneBook2</string>
	<key>PROJECT_ID</key>
	<string>phonebook-40991</string>
	<key>STORAGE_BUCKET</key>
	<string>phonebook-40991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383978686851:ios:08f0275160432017540eb6</string>
</dict>
</plist>